---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import BottomCta from "../components/BottomCta.astro";
import SpecialContents from "../components/SpecialContents.astro";

const base = "../";
---

<Layout
  basePath={base}
  title="スペシャルコンテンツ｜ホシザキ本社採用サイト"
  description="ホシザキをさらに深く知るスペシャルコンテンツ。若手社員のクロストーク、開発プロジェクトストーリー、開発責任者によるスペシャルトークを掲載。"
>
  <div class="l-container">
    <Header basePath={base} />
    <main class="l-main">
      <article class="p-special">
        <SpecialContents basePath={base} storyBase="./" headingTag="h1" />

        <BottomCta basePath={base} />
        <Breadcrumb basePath={base} items={[{ label: "スペシャルコンテンツ" }]} />
      </article>
    </main>
    <Footer basePath={base} />
  </div>
</Layout>
